<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários</title>
</head>
<body style="text-align: center;">
    <h1 >Usuários</h1>
    {% if users %}
        {% for user in users %}
            <div style="background-color: #f0f0f0; padding: 15px; margin: 10px 0; border-radius: 10px; box-shadow: 0 2px 5px rgba(0,0,0,0.1);">
            <p>
                ID: {{ user.id }} <br>
                Nome: {{ user.name }} <br>
                Idade: {{ user.age }} <br>
                Email: {{ user.email }}
            </p>
            <form action="{{ url_for('routes.deleting_user', user_id=user.id) }}" method="POST" style="display:inline;">
            <button type="submit" style="text-decoration: none; border-radius: 30px 34px; background-color: red; color: white; padding: 5px 20px; margin-top: 10px;">Deletar</button>
            </form>
            
            <form action="{{ url_for('routes.updating_user', user_id=user.id) }}" method="POST" style="display:inline;">
            <button type="submit" style="text-decoration: none; border-radius: 30px 34px; background-color: blue; color: white; padding: 5px 20px; margin-top: 10px;">Atualizar</button>
            </form>
            </div>
        {% endfor %}
    {% else %}
        <p>Nenhum Usuário Cadastrado</p>
    {% endif %}
            <br>
    <a href="/" style="text-decoration: none; border-radius: 30px 34px; background-color: blue; color: white; padding: 5px 20px; margin-top: 10px;">Página Inicial</a>
</body>
</html>
