<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários</title>
</head>
<body>
    <h1>Usuários</h1>
    {% if users %}
        {% for user in users %}
            <p>
                ID: {{ user.id }} - Nome: {{ user.name }} - Idade: {{ user.age }} - Email: {{ user.email }}
            </p>
            <form action="{{ url_for('routes.deleting_user', user_id=user.id) }}" method="POST" style="display:inline;">
                <button type="submit">Deletar</button>
            </form>
        {% endfor %}
    {% else %}
        <p>Nenhum Usuário Cadastrado</p>
    {% endif %}

    <a href="/">Página Inicial</a>
</body>
</html>
